html,
body {
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
}

#root {
    height: 100%;
    width: 100%;
}

#page {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#home {
    height: 100%;
    width: 100%;
}

#deusVult{
    display: block;
    max-width: 100px;
    height: auto;
    width: auto;

    overflow: hidden;
}

#navbar {
    position: relative;
    -webkit-box-shadow: 0px 1px 12px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 12px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 12px 2px rgba(0, 0, 0, 0.75);
}

#navbar-title {
    color: black;
    font-size:40px;
    font-family: "Calibri Light";
}

#navbar-title:hover {
    cursor: pointer;
}

#blackbar {
    width: auto;
    height: 30px;
    background-color: black;
    box-shadow: black;
}

#link {
    padding-left: 20px;
}

#live {
    text-align: center;
    flex-wrap: nowrap;
    position: relative;
    font-size: 20px;
    width: 100%;
    background-color:white;
    -webkit-box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.6);
    z-index: 10;
    overflow: hidden;
    font-family: "Calibri Light";
}

.href{
    color: black;
}

#main-content-wrapper {
    color: black;
    overflow: auto;
    height: 100%;
    width: 100%;
}

#subClassMenu {
    width: 150px;
    text-align: center;
    overflow: hidden;
    font-family: "Calibri Light";
    font-size: 22px;
    padding: 1px;

}

#catMenu {
    text-align: center;
    padding: 0px;

}

#side-filter-button {
    position: absolute;
    -webkit-box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.5);
    left: 0;
    z-index: 5;
}

#catMeny {
    z-index: 6;
}

#main-content {
    overflow: auto;
    background-color: rgb(50, 50, 50);
    height: 100%;
    width: 100%;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 130px;

}

#postCard{
    width: 500px;
    height: 500px;
    margin: 10px;
}

#yoman{
    width: 100%;
    height: auto;
    overflow: hidden;
}


#register {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    background-color: rgb(50, 50, 50);
}

#register-wrapper {
    height: 100%;
    width: 100%;
    padding: 10px;
}

#register-form {
    height: 90%;
    overflow: auto;
    background-color: lightgray;
    padding: 10px;
    border-width: 2px;
}

#article-info {
    overflow: auto;
    height: 100%;
    width: 100%;
}

#article-info h1 {
    padding-top: 2%;
}

#article-info h6 {
    color: rgb(80, 80, 80);
}

#article-info-top-wrapper {
    overflow: auto;
    text-align: center;
}

#article-info-picture {
    object-fit: contain;
    width: 100%;
    max-height: 60%;
    background-color: rgb(50, 60, 65);
    -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

#article-info-category {
    padding-top: 2%;
}

#article-info-content {
    padding: 80px 10% 180px 10%;
    white-space: pre-wrap;
}

.feed-item {
    color: black;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.max-size {
    height: 100%;
    width: 100%;
}

.post {
    height: 60%;
    width: 35%;
    margin: 1.4%;
    border-radius: 3px;
    border-width: 2px;
    border-color: lightgray;
    -webkit-box-shadow: 1px 2px 3px 1px rgba(140, 140, 140, 1);
    -moz-box-shadow: 1px 2px 3px 1px rgba(140, 140, 140, 1);
    box-shadow: 1px 2px 3px 1px rgba(140, 140, 140, 1);
    float: left;
}

.article h6 {
    color: rgb(80, 80, 80);
}

.article-image {
    object-fit: contain;
    width: 100%;
    height: 60%;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    background-color: rgb(50, 60, 65);
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.article-body {
    overflow: auto;
}

.article-title {
    color: black;
}

.article-title:hover {
    text-decoration: underline;
}

.article-category {
    position: absolute;
    display: inline;
    bottom: 5%;
}

.article-options {
    position: absolute;
    display: inline;
    bottom: 2%;
    right: 4%;
}

.article-date {
    position: absolute;
    display: inline;
    bottom: 0%;
}

.article-edit {
    position: absolute;
    display: inline;
    bottom: 2%;
    right: 4%;
}
